<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>709671164010-ckoj78ortj49n42ki3qs5vrtostvkaem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709671164010-ckoj78ortj49n42ki3qs5vrtostvkaem</string>
	<key>API_KEY</key>
	<string>AIzaSyAgH7OUPseGRNuN90-PTqmF3o6u3w5Yw6g</string>
	<key>GCM_SENDER_ID</key>
	<string>709671164010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-23.GitLab-CL</string>
	<key>PROJECT_ID</key>
	<string>lazyboy-40b92</string>
	<key>STORAGE_BUCKET</key>
	<string>lazyboy-40b92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709671164010:ios:841837c299bda2f8</string>
	<key>DATABASE_URL</key>
	<string>https://lazyboy-40b92.firebaseio.com</string>
</dict>
</plist>